.button, .button:visited {
  font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
  border: 2px solid black;
  padding: 6px 14px 8px;
  color: black;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  line-height: 150%;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 0.07em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 2px; 
}
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    color: white;
    border: 2px solid black;
    background-color: black; 
}
.button:active, .button:visited:active {
    border: 2px solid #d84695;
    background-color: #db539c; 
}
.button.big, .button:visited.big {
    padding: 14px 18px; 
}
.button.pink, .button:visited.pink {
    color: #d84695;
    border: 2px solid #d84695; 
}
.button.pink:hover, .button.pink:focus, .button:visited.pink:hover, .button:visited.pink:focus {
    color: white;
    background-color: #d84695; 
}
.button.blue, .button:visited.blue {
    color: #07b1d0;
    border: 2px solid #07b1d0; 
}
.button.blue:hover, .button.blue:focus, .button:visited.blue:hover, .button:visited.blue:focus {
    color: white;
    background-color: #07b1d0; 
}
.button.green, .button:visited.green {
    color: #06d85f;
    border: 2px solid #06d85f; 
}
.button.green:hover, .button.green:focus, .button:visited.green:hover, .button:visited.green:focus {
    color: white;
    background-color: #06d85f; 
}
.button.white, .button:visited.white {
    color: white;
    border: 2px solid white; 
}
.button.white:hover, .button.white:focus, .button:visited.white:hover, .button:visited.white:focus {
    color: black;
    background-color: white; 
}
